{{define "merge-button"}}
<div
  x-data="{ isTransitioned: false }"
  @merge-start.window="isTransitioned = !isTransitioned"
>
  <div class="relative flex items-center w-32">
      <button
        hx-get="{{.BranchID}}/merge"
        hx-target="#messages"
        x-show="!isTransitioned"
        x-transition:enter="transition-all duration-200 ease-out"
        x-transition:enter-start="opacity-0 transform translate-x-full"
        x-transition:enter-end="opacity-100 transform translate-x-0"
        x-transition:leave="transition-all duration-200 ease-in"
        x-transition:leave-start="opacity-100 transform translate-x-0"
        x-transition:leave-end="opacity-0 transform -translate-x-full"
        class="font-mono font-medium uppercase tracking-wide transition-all duration-200 relative overflow-hidden select-none whitespace-nowrap bg-gradient-to-b from-green-500 to-green-600 hover:from-green-600 hover:to-green-700 text-white border-2 border-green-800 shadow-[0_2px_0px_0px_#15803d] hover:shadow-[0_1px_0px_0px_#15803d] px-3 py-1.5 text-xs h-7 min-w-[28px] gap-1.5 flex items-center justify-center"
      >
          <i class="stroke-white h-4" data-lucide="git-pull-request-arrow"></i>
          Merge
    </button>

    <button
      hx-post="{{.BranchID}}/merge"
      hx-include="#merge-form"
      x-show="isTransitioned"
      x-transition:enter="transition-all duration-200 ease-out delay-300"
      x-transition:enter-start="opacity-0 transform translate-x-full"
      x-transition:enter-end="opacity-100 transform translate-x-0"
      x-transition:leave="transition-all duration-200 ease-in"
      x-transition:leave-start="opacity-100 transform translate-x-0"
      x-transition:leave-end="opacity-0 transform -translate-x-full"
      class="absolute left-0 px-8 text-white bg-indigo-400 hover:bg-indigo-500 transition-all duration-50"
    >
      Confirm
    </button>
  </div>
  <script>
   lucide.createIcons();
  </script>
</div>
{{end}}
