{{ define "messages" }}
  <div class="overflow-auto flex flex-col grow px-3" id="messages">
    <script>
     document.addEventListener("htmx:sseMessage", e => {
       console.log("Got message", e)
       const messagesDiv = document.getElementById("messages");
       messagesDiv.scrollTop = messagesDiv.scrollHeight;
     })
    </script>
    {{range .Messages}}
      {{block "message" .}}{{end}}
    {{end}}
    <div hx-ext="sse" sse-connect="{{.ID}}/message" sse-swap="chunk">
    </div>
    <div id="messagesEnd"></div>
  </div>
{{end}}
