{{define "messages"}}
  <div class="overflow-y-scroll flex flex-1 flex-col gap-3 py-3 px-3" id="messages">
    <script>
     document.addEventListener("htmx:sseMessage", e => {
       const messagesDiv = document.getElementById("messages");
       messagesDiv.scrollTop = messagesDiv.scrollHeight;
     })
    </script>
    {{$messages := .Chat.Messages}}
    {{if .Branch.Messages }}
      {{$messages = .Branch.Messages}}
    {{end}}

    {{range $messages}}
      {{block "message" .}}{{end}}
    {{end}}

    {{if .MessageGenerating}}
      {{block "streamed-message" .}}{{end}}
    {{end}}
    <div id="messagesEnd"></div>
  </div>
{{end}}
