{{define "streamed-message"}}
  <div
    id="streamed-message"
    hx-ext="sse"
    sse-connect="{{.BaseURI}}/{{.ChatID}}/branch/{.BranchID}/message/stream"
    sse-swap="chunk"
    sse-close="finished"
  ></div>
  <script>
    document.getElementById('streamed-message')
      .scrollIntoView({
        behavior: "smooth",
        block: "end",
      });
    document.addEventListener("htmx:sseClose", (e) => {
      htmx.trigger('#merge-button-container', 'messageStreamFinished');
    })
  </script>
{{end}}
