{{define "index"}}
 <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Shell>> graph</title>
      {{block "meta" .}}{{end}}
    </head>
    <body>
      <div id="graph" style="height:100dvh;"></div>
      <a hx-trigger="{{.Keybinds.ToggleGraph.Value}} from:body" hx-on::trigger='window.location=chatPath'></a>
      <a hx-trigger="{{.Keybinds.NewChat.Value}} from:body" hx-on::trigger='window.location="{{.ChatURI}}"'></a>
    </body>
    <script type="text/javascript">
     const elements = {{.Graph}}
       const lastUsed = elements.find(el => el.data.level === 0)
     console.log(elements)

     const searchChatId = new URLSearchParams(window.location.search).get("fromChat")
     const chatPath = `{{.ChatURI}}/${searchChatId}`

     var cy = cytoscape({
       container: document.getElementById('graph'),
       elements,
       zoom: 0.09,
       pan: {x: 100, y:100 },
       ready: function({cy}){

         this.nodes().forEach((node) => {
           const level = node.data().level
           if (level === undefined) return
           const maxSize = 40;
           const minSize = 10;
           const maxLevel = 5;

           if (level >= maxLevel) return minSize;

           const sizeStep = (maxSize - minSize) / maxLevel;
           const size =  maxSize - sizeStep * level;
           node.css("width", size);
           node.css("height", size);
         })
         var lastNode = cy.$id(lastUsed.data.id)
         cy.centre(lastNode)

         cy.animate({
           zoom: 4,
           center:{
             eles: lastNode
           },
           duration: 1000,
           easing: "ease-in-out"
         })
       },
       layout: {
         name: "fcose",
         animate: false,
         fit: false,
       },
       style: [
         {
           selector: 'node',
           style: {
             'background-color': '#2B65EC',
             'shape': 'diamond',
             'label': 'data(title)',
             'font-size': "4px",
             'text-valign': "bottom",
             "text-margin-y" : "2px",
             "min-zoomed-font-size": "1px",
           }
         },

         {
           selector: ':parent',
           style: {
             'background-opacity': 0.333,
             'border-color': '#2B65EC'
           }
         },

         {
           selector: 'edge',
           style: {
             'line-color': '#FFFF00',
             'line-cap':'square',
             "curve-style": "straight",
             "width": 2,
             "target-arrow-shape":"triangle",
             "target-arrow-color":"#FFFF00"
           }
         },

         {
           selector: 'edge:selected',
           style: {

           }
         }
       ],
     });

     cy.nodes().ungrabify();


     cy.on("tap", "node", (e) =>
       {
         const node = e.target
         if (node.isParent()) return
         window.location = `{{.ChatURI}}/${node.id()}`
     });
    </script>
  </html>
{{end}}
