{{define "index"}}
 <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Shell>> graph</title>
      {{block "meta" .}}{{end}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.32.0/cytoscape.umd.js" integrity="sha512-GGjidh/YrEO6BuFD0mg4fDfTm3+acmGuNVLc3iiksLtihH5YYkOayWgZzoKJmPZCjTh4vPu5JO3aHV5ZJ9n9DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://unpkg.com/layout-base/layout-base.js"></script>
      <script src="https://unpkg.com/cose-base/cose-base.js"></script>
      <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
    </head>
    <body>
      <ul>
        {{range .Chats}}
          <li>
            <a href="{{$.ChatURI}}/{{.ID}}">
              {{.Title}}
            </a>
          </li>
        {{end}}
      </ul>
      <div id="graph" style="width:full;height:50dvh;"></div>
    </body>
    <script type="text/javascript">
     const chats = {{.Chats}}

      const elements = chats.map((item) => ({
         data: {
           id: item.ID
         }
       }))

      var cy = cytoscape({
      container: document.getElementById('graph'),
        elements,
        style: [
                 {
                   selector: 'node',
                   style: {
                     'background-color': '#666',
                     'label': 'data(id)'
                   }
                 },
                 {
                   selector: 'edge',
                   style: {
                     'width': 3,
                     'line-color': '#ccc',
                     'target-arrow-color': '#ccc',
                     'target-arrow-shape': 'triangle',
                     'curve-style': 'bezier'
                   }
                 }
        ],
        layout: {
          name: 'fcose',
        }
      });

     const lastUsed = cy.$id(elements[0].data.id)
     cy.center(lastUsed)

     cy.on("tap", "node", (e) =>
       {
         const node = e.target;
       window.navigation.navigate(`{{.ChatURI}}/${node.id()}`)
     });
    </script>
  </html>
{{end}}
