{{define "index"}}
 <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Shell>> graph</title>
      {{block "meta" .}}{{end}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.32.0/cytoscape.umd.js" integrity="sha512-GGjidh/YrEO6BuFD0mg4fDfTm3+acmGuNVLc3iiksLtihH5YYkOayWgZzoKJmPZCjTh4vPu5JO3aHV5ZJ9n9DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://unpkg.com/layout-base/layout-base.js"></script>
      <script src="https://unpkg.com/cose-base/cose-base.js"></script>
      <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
    </head>
    <body>
      <div id="graph" style="width:full;height:100dvh;"></div>
      <a hx-trigger="keyup[key=='g'] from:body" hx-on::trigger='window.location=chatPath'></a>
      <a hx-trigger="keyup[key=='n'] from:body" hx-on::trigger='window.location="/chat"'></a>
    </body>
    <script type="text/javascript">
     const elements = {{.Graph}}

     const searchChatId = new URLSearchParams(window.location.search).get("fromChat")
     const chatPath = `/chat/${searchChatId}`

     var cy = cytoscape({
       container: document.getElementById('graph'),
       elements,
       ready: function(){
         this.nodes().forEach((node) => {
           if (node.data().level === undefined) return
           let size = 30 - node.data().level * 3;
           node.css("width", size);
           node.css("height", size);
         })
       },
       layout: {
         name: "fcose",
       },
       style: [
         {
           selector: 'node',
           style: {
             'background-color': '#666',
           }
         },
         {
           selector: 'edge',
           style: {
             'line-color': '#ccc',
             'width': 3
           }
         }
       ],style: [
         {
           selector: 'node',
           style: {
             'background-color': '#2B65EC',
           }
         },

         {
           selector: ':parent',
           style: {
             'background-opacity': 0.333,
             'border-color': '#2B65EC'
           }
         },

         {
           selector: 'edge',
           style: {
             'line-color': '#2B65EC'
           }
         },

         {
           selector: 'node:selected',
           style: {
             'background-color': '#F08080',
             'border-color': 'red'
           }
         },

         {
           selector: 'edge:selected',
           style: {
             'line-color': '#F08080'
           }
         }
       ],
     });

     cy.on("tap", "node", (e) =>
       {
         const node = e.target
         if (node.isParent()) return
         window.location = `{{.ChatURI}}/${node.id()}`
     });
    </script>
  </html>
{{end}}
