{{ define "index" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Shell>> chat</title>
      {{block "meta" .}}{{end}}
    </head>
    <body>
      <h1>{{.Title}}</h1>
      {{if .Messages}}
	<a href="/chat">Start a new chat</a>
      {{end}}
      <div id="messages">
	{{template "messages" .Messages}}
      </div>
      <form
	hx-post="{{ .ID }}/user/message"
	hx-target="#messages"
	hx-on::after-request="if(event.detail.successful) this.reset()"
      >
	<input id="prompt" name="prompt" type="text" required placeholder="Prompt...">
	<button type="submit">Send</button>
      </form>
    </body>
  </html>
{{ end }}
