{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shell>> chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>
      {{if .Title}}
      {{.Title}}
      {{else}}
      New Chat
      {{end}}
    </h1>
    <div id="messages">
      {{template "messages" .Messages}}
    </div>
    <form
      hx-post="{{ .ID }}/user/message"
      hx-target="#messages"
      hx-on::after-request="if(event.detail.successful) this.reset()"
    >
      <input id="prompt" name="prompt" type="text" required placeholder="Prompt...">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
{{ end }}
