{{ define "profile" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Shell>> chat</title>
            {{block "meta" .}}{{end}}
        </head>
        <body class="h-[100dvh] flex justify-center items-center">
            <div id="app"></div>
        </body>
        <script>
         window.addEventListener('load', async function () {
           await Clerk.load()

           document.getElementById('app').innerHTML = `
               <div id="user-profile"></div>
           `

           const userProfileDiv = document.getElementById('user-profile')

           Clerk.mountUserProfile(userProfileDiv)
         })
        </script>
    </html>
{{ end }}
