{{ define "register" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Shell>> chat</title>
            {{block "meta" .}}{{end}}
        </head>
        <body class="h-[100dvh] flex justify-center items-center">
            <div id="app"></div>
        </body>
        <script>
         window.addEventListener('load', async function () {
           await Clerk.load()

           document.getElementById('app').innerHTML = `
               <div id="sign-up"></div>
           `

           const signUpDiv = document.getElementById('sign-up')

           Clerk.mountSignUp(signUpDiv,{
             fallbackRedirectUrl: {{.HomeURI}},
             signInUrl: "{{.BaseURI}}/login",
           })
         })
        </script>
    </html>
{{ end }}
