{{ define "index" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Shell>> chat</title>
      {{block "meta" .}}{{end}}
    </head>
    <body>
      <div class="flex justify-between items-center bg-gray-200">
	{{if .Title}}
	  <h1>{{.Title}}</h1>
	  <div hx-get="{{.ID}}/tags" hx-swap="outerHTML" hx-trigger="load"></div>
	{{else}}
	  <h1>New chat</h1>
	{{end}}
      </div>
      {{if .Messages}}
	<a href="/chat">Start a new chat</a>
      {{end}}
      <div id="messages">
	{{template "messages" .}}
      </div>
      <form
	hx-post="{{ .ID }}/message"
	hx-target="#messages"
	hx-on::after-request="if(event.detail.successful) this.reset()"
      >
	<input id="prompt" name="prompt" type="text" required placeholder="Prompt...">
	<button type="submit">Send</button>
      </form>
    </body>
  </html>
{{ end }}
